button{
    margin-right:6px;
    width: 100px;
}
.container {
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 15px;
    border-color: #277582;
    font-family: 'Arial';
    background-color: aliceblue;
}

#nav_head{
    color: black;
}

label {
    color: black;
    font-size: 17px;
}
.dropdown{
    margin-right: 100px;
}
#header{
    color: black;
}

input.ng-invalid.ng-touched {
    border-color: red 1px solid;
}

small {
    color: red;
    font-weight: bold;
    font-size: 14px;
}