<div class="container-fluid p-5">
   <div class="row">
      <div class="col-4 jumbotron" style="border-radius: 10px;">
        <form #f="ngForm" name="form" (ngSubmit)="onSubmit(f)" class="w-100 mt-4">
            <h2>Add Task</h2>
            <!-- <div class="form-group">
                <input type="hidden" name="id" [(ngModel)]="task.id" class="form-control">
            </div> -->
            <div class="form-group">
                <label>Description</label>
                <input type="text"  name="Description" [(ngModel)]="task.description" class="form-control">
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="date" name="date" [(ngModel)]="task.date" class="form-control">
            </div>
            <div class="form-group" >
                <label>Status</label>
               <!--  <input type="text" name="Description" [(ngModel)]="task.status" class="form-control"> -->

               <select name="status" [(ngModel)]="task.status" class="form-control">
                <option  value="Open">Open</option>
                <option   value="Completed">Completed</option>
               </select>
            </div>
            <div class="text-center">
                    <button type="submit" class="btn btn-success mt-2">Add Task</button>
            </div>
            
        </form>
      </div>
      
      <div class="col-8">
        <div class="card mt-4">
            <h2>Task List</h2>
            <div class="row">
                <div class="col-3">
                     <input type="text" [(ngModel)]="querryModel.description" class="form-control ms-1" placeholder="Description" />
                </div>
                <div class="col-3">
                    <input type="date" [(ngModel)]="querryModel.date" class="form-control" placeholder="Date"/>
                </div>
                <div class="col-3">
                    <select name="status" [(ngModel)]="querryModel.status" class="form-control" >
                        <option value="Open">Open</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-secondary me-2" (click)="getAll()">Search</button>
                    <button class="btn btn-danger" (click)="clear()">Clear</button>
                </div>
                
            </div>
           
                <table class="table mt-2">
                    <thead class="table-secondary text-center">
                        <tr>
                            <th>Description &nbsp;<fa-icon [icon]="faArrowDownAZ"
                                 (click)="sorting('description',false)"></fa-icon>
                            <fa-icon [icon]="faArrowUpAZ"
                            (click)="sorting('description',true)"></fa-icon></th>

                            <th>Date&nbsp;<fa-icon [icon]="faArrowDown19" (click)="sorting('date',false)"></fa-icon>
                            <fa-icon [icon]="faArrowUp19" (click)="sorting('date',true)"></fa-icon></th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let user of usersList">
                            <td>{{user.description}}</td>
                            <td>{{user.date|date:'dd-MM-yyyy'}}</td>
                            <td><ng-container [ngSwitch]="user.status">
                                    <p *ngSwitchCase="'Open'" class="badge bg-danger">Open</p>
                                    <p *ngSwitchCase="'Completed'" class="badge bg-success">Completed</p>
                            </ng-container>
                                
                            </td>
                            <td style="cursor:pointer;"><fa-icon (click)="edit(user)" [icon]="faEdit" class="icon-green"
                                    data-bs-toggle="modal" data-bs-target="#myUModal"></fa-icon>
                                <fa-icon (click)="delete(user)" [icon]="faTrashAlt" class="icon-red ms-3"></fa-icon>
                                <!-- <fa-icon class="icon-blue ms-3" [icon]="faUser"></fa-icon> -->
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
        </div>
            
      </div>
      </div>
   </div>




<div class="modal" id="myUModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Task</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="Description" [(ngModel)]="updatetask.description" class="form-control">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="date" [(ngModel)]="updatetask.date" class="form-control">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <!--  <input type="text" name="Description" [(ngModel)]="task.status" class="form-control"> -->
                
                    <select name="status" [(ngModel)]="updatetask.status" class="form-control">
                        <option value="Open">Open</option>
                        <option value="Complete">Completed</option>
                    </select>
                </div>
               
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success me-2" (click)="SubmitUpdateTask()">Update Task</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

















